.idea
assignment/__pycache__
assignment/app/static/.DS_Store
assignment/app/static/images/.DS_Store
assignment/app/static/images/.DS_Store
assignment/model/model_1
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
assignment/model/model_1
